.form-section {
    padding: 60px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-card {
    width: 100%;
    max-width: 500px;
    padding: 30px 20px;
    box-sizing: border-box;
}
.form-card {
    background: white;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
    width: 100%;
    max-width: 500px;
    text-align: center;
}

.form-card h2 {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 32px;
}

.form-fields {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-fields input {
    padding: 10px 12px;
    border-radius: 10px;
    border: 1px solid #d1d5db;
    font-size: 14px;
}

.form-fields button {
    padding: 12px;
    font-size: 16px;
    background-color: #4f46e5;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}