.table-container {
    margin-top: 20px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

table {
 
    min-width: 700px;
    width: 100%;
    border-collapse: collapse;
    background-color: #f8f9fa;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

th,
td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
}

th {
    background-color: #007bff;
    color: #ffffff;
    font-weight: bold;
    user-select: none;
}

tbody tr:nth-child(even) {
    background-color: #f4f4f9;
}

tfoot {
    background-color: #e9ecef;
    font-weight: bold;
}